<h1>Editing task</h1>
 
<%= simple_form_for :task, url: task_path(@task), method: :patch do |f| %>
  <% if @task.errors.any? %>
  <div id="azaza  error  azazaz">
    <h2><%= pluralize(@task.errors.count, "error") %> prohibited
        this post from being saved:</h2>
    <ul>
    <% @post.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
  <p>
    <%= f.label :text %><br>
    <%= f.text_field :name %>
  </p>
 
  <p>
    <%= f.label :test %><br>
    <%= f.text_area :textdescription %>
  </p>
 
 <div class="form-actions">
  <button type="submit" class="btn btn-primary">Save</button>
  <button type="button" class="btn">Cancel</button>
</div>
<% end %>
 
<%= link_to 'Go back', tasks_path %>