<h1>Tasklist</h1>



 
<table>
  <table class="table">
    <table class="table table-bordered">
  <tr>
    <th>Active Tasks</th>
  </tr>
 
   
  <% @tasks.each do |task| %>
    <tr>
      <td><%= task.name %></td>
      <td><%= task.description %></td>
      <% if can? :read, task %>
      <td><%= link_to 'Show', task %></td>
      <% end %>
      <% if can? :update, task %>
      <td><%= link_to 'Edit', edit_task_path(task) %></td>
      <% end %>
      <% if can? :destroy, task %>
      <td><%= link_to 'Delete', task_path(task),
        method: :delete, data: { confirm: 'Tu uveren?' } %></td>
      <% end %>
    </tr>
  <% end %>
</table>

