<%= simple_form_for Task.new, html: {class: 'form-horizontal' }, url: tasks_path do |f| %>      
  <%= f.input :name %>
  <%= f.input :time_in %>
  <%= f.input :time_out %>
  <%= f.input :textdescription %>
  <%= f.association :category %>
  <%= f.input :priority %>

  <div class="form-actions">
  <button type="submit" class="btn btn-primary">Save</button>
  <button type="button" class="btn">Cancel</button>
</div>
<% end %>
<%= link_to 'Go back', tasks_path %>





